[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.5"
psycopg2-binary = "==2.9.5"
Pillow = "==10.0.0"
beautifulsoup4 = "*"
django-simple-captcha= "*"

[dev-packages]
pytest-django = "==4.5.2"
pytest = "==7.4.1"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
