body {
  font-family: 'Arial, sans-serif';
  background-color: #f0f0f0;
  color: #333;
}

#app {
  max-width: 300px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}

.button-secondary {
  background-color: transparent;
  color: #28a745;
  text-decoration: underline;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: transparent;
  color: #1f7a33;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
  margin-right: 10px;
  font-weight: bold;
}

.logout-button {
  background-color: #ff3333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d63030;
}
